@import url('https://www.w3schools.com/w3css/4/w3.css');

.w3-black
{
  min-width: 100%;
  background-color: rgb(33,32,29) !important;
  height: 50px;
  text-align: center;
}
.w3-container{
  background-color:rgb(38,37,34) !important;
  padding: 0;
}
.w3-bar{
  height: auto !important;
  font-size: 14px;
  display: flex !important;
  

}
button{
  padding: 15px 39px !important;
  flex: 1;
  
}
.city{
  height: 80vh;
  box-sizing: border-box;
}
