@import url('https://www.w3schools.com/w3css/4/w3.css');

.w3-black
{
  min-width: 100%;
  background-color: rgb(33,32,29) !important;
  height: 50px;
  line-height: 35px;
  text-align: center;
}
.w3-container{
  background-color:rgb(38,37,34) !important;
  padding: 0;
}
