<div class="box">
  <p class="titre">
    Completed Games
  </p>
  <table>
    <thead>
      <tr>
        <th>Players</th>
        <th>ELO</th>
        <th class="text-center">Result</th>
        <th class="text-center">Moves</th>
        <th class="text-center">Date</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined">
              crop_square
            </span>
            el paccino
          </div>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined black">
              crop_square
              </span>
            aitouahmane
          </div>
        </td>
        <td>
          <div>419</div>
          <div>1200</div>
        </td>
        <td class="text-center">
          <div>1</div>
          <div>0</div>
        </td>
        <td class="text-center">19</td>
        <td class="text-center">14/05/2024</td>
      </tr>

      <tr>
        <td>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined">
              crop_square
            </span>
            el paccino
          </div>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined black">
              crop_square
              </span>
            aitouahmane
          </div>
        </td>
        <td>
          <div>419</div>
          <div>1200</div>
        </td>
        <td class="text-center">
          <div>1</div>
          <div>0</div>
        </td>
        <td class="text-center">19</td>
        <td class="text-center">14/05/2024</td>
      </tr>
      <tr>
        <td>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined">
              crop_square
            </span>
            el paccino
          </div>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined black">
              crop_square
              </span>
            aitouahmane
          </div>
        </td>
        <td>
          <div>419</div>
          <div>1200</div>
        </td>
        <td class="text-center">
          <div>1</div>
          <div>0</div>
        </td>
        <td class="text-center">19</td>
        <td class="text-center">14/05/2024</td>
      </tr>
      <tr>
        <td>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined">
              crop_square
            </span>
            el paccino
          </div>
          <div class="name-and-square-color">
            <span class="material-symbols-outlined black">
              crop_square
              </span>
            aitouahmane
          </div>
        </td>
        <td>
          <div>419</div>
          <div>1200</div>
        </td>
        <td class="text-center">
          <div>1</div>
          <div>0</div>
        </td>
        <td class="text-center">19</td>
        <td class="text-center">14/05/2024</td>
      </tr> 
    </tbody>
  </table>
</div>
