<div class="pgn-table">
  <table>
    <tbody>
      <tr>
        <th>1.</th>
        <td>e4</td>
        <td>e5</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>3.</th>
        <td>Bc4</td>
        <td>Bc5</td>
      </tr>
      <tr>
        <th>1.</th>
        <td>e4</td>
        <td>e5</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>3.</th>
        <td>Bc4</td>
        <td>Bc5</td>
      </tr>
      <tr>
        <th>1.</th>
        <td>e4</td>
        <td>e5</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>3.</th>
        <td>Bc4</td>
        <td>Bc5</td>
      </tr>
      <tr>
        <th>1.</th>
        <td>e4</td>
        <td>e5</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
      <tr>
        <th>2.</th>
        <td>KNf3</td>
        <td>f6</td>
      </tr>
  
    </tbody>
  </table>
</div>
<div class="pgn-actions">
  <table>
    <tbody>
      <tr>
        <td></td>
        <td class="spacer"></td>
        <td> &lt; </td>
        <td>&gt;</td>
        <td>+</td>
      </tr>
    </tbody>
  </table>
</div>
