<div class="container">
  <div class="pgn-table">
    <table>
      <tbody>
        <tr *ngFor="let move of pgn; let i = index">
          <th>{{ i + 1 }}.</th>
          <td>{{ move.whiteMove }}</td>
          <td>{{ move.blackMove }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pgn-actions">
    <table>
      <tbody>
        <tr>
          <td></td>
          <td>
            <span class="material-symbols-outlined icon">
              share
            </span>
          </td>
          <td class="spacer"></td>
          <td>
            <span class="material-symbols-outlined icon flag" (click)="resign()">
              flag
            </span>
          </td>
          <td>
            <span class="material-symbols-outlined icon" (click)="back()">
            arrow_back_ios
            </span>
          </td>
          <td>
            <span class="material-symbols-outlined icon" (click)="forward()">
              arrow_forward_ios
            </span>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
