<div class="container">
  <div class="pgn-table">
    <table>
      <tbody>
        <tr *ngFor="let move of pgn; let i = index">
          <th>{{ i + 1 }}.</th>
          <td [ngClass]=" {'active' :((  calculateAbsDifference(index ,i) ) && color?.toString() === 'White')}">{{ move.whiteMove }}</td>
          <td [ngClass]=" {'active' :(( calculateAbsDifference(index ,i) ) && color?.toString() === 'Black')}">{{ move.blackMove }}</td>
        </tr>
        <!-- <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>3.</th>
          <td>Bc4</td>
          <td>Bc5</td>
        </tr>
        <tr>
          <th>1.</th>
          <td>e4</td>
          <td>e5</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>3.</th>
          <td>Bc4</td>
          <td>Bc5</td>
        </tr>
        <tr>
          <th>1.</th>
          <td>e4</td>
          <td>e5</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>3.</th>
          <td>Bc4</td>
          <td>Bc5</td>
        </tr>
        <tr>
          <th>1.</th>
          <td>e4</td>
          <td>e5</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr>
        <tr>
          <th>2.</th>
          <td>KNf3</td>
          <td>f6</td>
        </tr> -->
    
      </tbody>
    </table>
  </div>
  <div class="pgn-actions">
    <table>
      <tbody>
        <tr>
          <td></td>
          <td>
            <span class="material-symbols-outlined icon">
              share
            </span>
          </td>
          <td class="spacer"></td>
          <td>
            <span class="material-symbols-outlined icon flag" (click)="resign()">
              flag
            </span>
          </td>
          <td>
            <span class="material-symbols-outlined icon" (click)="back()">
            arrow_back_ios
            </span>
          </td>
          <td>
            <span class="material-symbols-outlined icon" (click)="forward()">
              arrow_forward_ios
            </span>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
