<div class="box">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="profile-picture-container">
            <img src="../../../../../assets/profile/profile.png" class="profile-picture">
            <div class="profile-picture-modifier">
              <span class="material-symbols-outlined">
                photo_camera
              </span>
              Change
            </div>
          </div>

        </td>
        <td rowspan="3" class="full-width">
          <div class="grid-container">
            <p class="grid-item user-name">Firadi04</p>
            <div class="icons-bar">

              <div class="icon-and-text grid-item">
                <span class="material-symbols-outlined icon">
                  show_chart
                </span>
                1254
              </div>

              <div class="icon-and-text grid-item">
                <span class="material-symbols-outlined icon">
                  chess
                </span>
                Dec 18, 2023
              </div>
              <div class="icon-and-text grid-item">
                <span class="material-symbols-outlined icon">
                  groups
                </span>
                45
              </div>

            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="account-buttons">
            <button>
              <span class="material-symbols-outlined">
                mood
                </span>
              Follow
            </button>
            <button>
              <span class="material-symbols-outlined">
                add
                </span>
              Challenge
            </button>
            <button>
              <span class="material-symbols-outlined">
                forum
              </span>
              Message
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
