<div class="main">
  <div class="top-container">
    <div class="left-container"><img src="../../../../assets/images/board.png" alt="" class="board-img"></div>
    <div class="right-container">
      <p class="main-sentence">
        Play Chess <br> Online <br> on the #1 Site!
      </p>
      <button class="play-online" [routerLink]="['game-online']">
        <table>
          <tbody>
            <tr>
              <td rowspan="2"><img src="../../../../assets/icons/icons/play-online.svg" alt="" class="play-online-icon"></td>
              <td class="main-sentence-button">Play Online</td>
            </tr>
            <tr>
              <td class="sub-sentence-button">Play with somoene at your level</td>
            </tr>
          </tbody>
        </table>
      </button>

      <button class="play-computer">
        <table>
          <tbody>
            <tr>
              <td rowspan="2"><img src="../../../../assets/icons/icons/play-computer.svg" alt="" class="play-online-icon"></td>
              <td class="main-sentence-button">Play computer</td>
            </tr>
            <tr>
              <td class="sub-sentence-button">Play with costomzable training bot</td>
            </tr>
          </tbody>
        </table>
      </button>
      
    </div>
  </div>
</div>
