<div class="sidebar">
  <div class="logo">
    <p class="titre">Chess</p>
  </div>
  <div class="user-info" [routerLink]="['profile']">
    <img src="../../../../assets/profile/profile.png" alt="Profile Picture">
    <div class="user-details">
      <p class="username">Binikio</p>
      <p class="rating">Rating: 1500</p>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a href="#">Play</a></li>
      <li><a href="#">Learn</a></li>
      <li><a href="#">Connect</a></li>
      <li><a href="#">More</a></li>
      <li><button class="sign-up" [routerLink]="['/signup']">Sign Up</button></li>
      <li><button class="sign-in" [routerLink]="['/signin']">Sign In</button></li>
    </ul>
  </div>
</div>
