<div class="box">
  <div class="top">
    <img src="../../../../../../../../assets/post-image/image.png" class="post-image"><br>
    <span class="title">
      Four Knights Italian | WIN WITH BLACK!
    </span>
    <div class="row">
      <table class="user-info">
        <tbody>
          <tr>
            <td rowspan="2">
              <img src="../../../../../../../../assets/profile/profile.png" class="user-image">
            </td>
            <td>
              <tr class="user-name"><td>Firadi</td></tr>
              <tr class="post-data">
                <td>
                  <span class="timestamp">03 / 01 / 2016 12:08 PM</span> | 
                  <span class="material-symbols-outlined comment-icon">comment</span> 5
                </td>
              </tr>
            </td>
            
          </tr>
        </tbody>
      </table>
      <div>
        <span class="material-symbols-outlined" (click)="zoomIn()">
          zoom_in
        </span>
        <span class="material-symbols-outlined"  (click)="zoomOut()">
            zoom_out
        </span>
      </div>
    </div>

  </div>
  <div class="post" >
    Aenean feugiat tortor tellus, sit amet aliquam enim pharetra ac. Donec eu ante eu ante hendrerit imperdiet vitae sed tellus. Vestibulum lacinia enim at nibh vulputate, non congue nisl sodales. Duis sed leo a est facilisis fermentum eget nec libero. Quisque rhoncus turpis justo, at vehicula libero semper vitae. Proin vestibulum imperdiet malesuada. Fusce finibus libero nibh, vitae congue sapien facilisis suscipit. Pellentesque blandit placerat massa, vitae faucibus massa lacinia non. Vestibulum sodales lorem id nunc lacinia, a imperdiet felis dignissim. Ut eu placerat nulla, sed lobortis ipsum. Proin blandit, lorem in dignissim luctus, sem massa ornare massa, in iaculis justo risus quis neque. Donec condimentum laoreet vulputate. Sed id nisi ac metus tristique tristique. Aliquam erat volutpat. Vestibulum dignissim semper pretium. Sed lacinia tellus eu odio rhoncus, in congue arcu tincidunt.

Vestibulum cursus, nunc id consequat fringilla, ligula nisl tincidunt ante, id feugiat ante erat non elit. In maximus molestie interdum. Vestibulum quis rhoncus lacus, vel mollis quam. Phasellus tristique ligula eu dui pellentesque tristique sit amet eu lectus. Suspendisse fringilla sed neque id volutpat. Vivamus consequat pulvinar condimentum. Fusce ullamcorper arcu orci, vel elementum ipsum porta sit amet. Pellentesque eros dolor, semper sed placerat non, mollis et felis. Nullam malesuada gravida turpis, ut imperdiet leo bibendum et. Sed vel mattis nibh, aliquet posuere risus. Aliquam placerat blandit luctus. Praesent ut rutrum nunc.

Duis eu pharetra metus. Quisque ac massa sollicitudin, dictum felis nec, fringilla est. Aenean tempus euismod est, vitae convallis erat dictum quis. Nulla nec nisi tempus, tincidunt lectus a, tincidunt purus. Vivamus tortor augue, fringilla tincidunt accumsan vel, posuere eu leo. Praesent a consectetur turpis, quis semper diam. Cras sed orci ac risus pellentesque volutpat sit amet vel sapien. Praesent et tristique leo. Aliquam erat volutpat. Sed vel arcu et nibh congue facilisis. Vestibulum vestibulum ipsum ante, a tempor elit elementum at.

Cras non purus in ante sagittis efficitur. Pellentesque tristique eu mi eget interdum. Duis vitae ligula sem. Cras venenatis lorem magna, at consequat justo ultrices ac. Sed urna quam, sodales at aliquam vel, porttitor et ipsum. Pellentesque auctor faucibus lorem, non hendrerit ligula. Sed tristique quis tortor vitae viverra. Donec quis purus nec massa sollicitudin congue at in leo. Nam turpis leo, mollis at est sed, pharetra imperdiet tortor. Vivamus consectetur, eros nec viverra sodales, quam mi egestas libero, ut scelerisque velit felis id velit. Aenean id libero ut lectus luctus pretium nec id orci. Nulla malesuada interdum lorem, eu pharetra quam condimentum sit amet. Praesent vel diam magna. Quisque dictum orci purus, ac lacinia massa luctus at.

Nulla cursus cursus risus porttitor vestibulum. Etiam eget augue maximus, maximus nibh eget, imperdiet odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque mattis nunc id lorem dictum, a ultrices ligula sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nunc ipsum, mattis sed laoreet vel, condimentum bibendum diam. Sed fermentum, nunc non scelerisque bibendum, dolor neque sollicitudin metus, a faucibus nisi tellus nec turpis. Duis lectus erat, convallis eget sem vitae, porttitor blandit odio. Ut at leo tristique, facilisis augue at, vestibulum urna. Curabitur id sapien feugiat, tristique odio vel, cursus quam.
  </div>
  <div class="bottom">
    <div class="shareit">
      share: &nbsp;
      <!-- facebook -->
      <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=fb.com" target="blank" title="facebook"><i class="fa fa-facebook"></i></a>

      <!-- twitter -->
      <a class="twitter" href="https://twitter.com/intent/tweet?text=YOUR_TITLE&url=YOUR_URL" target="blank" title="twitter"><i class="fa fa-twitter"></i></a>

      <!-- linkedin -->
      <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=YOUR_URL&title=YOUR_TITLE" target="blank" title="linkedin"><i class="fa fa-linkedin"></i></a>

      <!-- reddit -->
      <a class="reddit" href="https://www.reddit.com/submit?url=YOUR_URL&title=YOUR_TITLE" target="blank" title="reddit"><i class="fa fa-reddit"></i></a>

      <!-- tumblr -->
      <a class="tumblr" href="https://www.tumblr.com/share/link?url=YOUR_URL&name=YOUR_TITLE&description=YOUR_DESC" target="blank" title="tumblr"><i class="fa fa-tumblr"></i></a>

      <!-- pinterest -->
      <a class="pinterest" href="https://pinterest.com/pin/create/button/?url=YOUR_URL&media=IMAGE_URL&description=YOUR_TITLE" target="blank" title="pinterest"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="other-blogs">
      <p class="subtitle">Other blogs</p>
      <div class="post">
        <img src="../../../../../../assets/post-image/image.png" class="image">
        <p class="title">Lorem, ipsum dolor sit amet consur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      </div>
      <div class="post">
        <img src="../../../../../../assets/post-image/image.png" class="image">
        <p class="title">Lorem, ipsum dolor sit amet consur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      </div>
    </div>
  </div>
</div>
