.box {
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(38, 37, 34);
  margin-bottom: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 500;

  hr{
    border-top: solid rgb(38,37,34) 2px;
    border: rgb(82, 82, 82) solid 1px;
  }

  .container{
    display: flex;
    justify-content: space-around;
    gap: 0.5vw ;
    
    flex-wrap: wrap;
    img{
      width: 57px;
      height: 57px;
      cursor: pointer;
      
    }
  }

}
