<div>
  <table>
    <tbody>
      <tr><td class="player-info">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player1</td>
              </tr>
              <tr>
                <td class="">
                  <span *ngFor="let piece of piecesTakenByBlack" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span>
                  <span *ngIf="winnerByPoints == 'Black'">
                    + {{ pointsDiffrence }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [ngClass]="{ 'timerActive': activeColor === 'Black', 'timer': activeColor === 'White' }">
          {{ blackTime | MilisecondeToMinutePipe }}
        </div>
      </td></tr>

      <tr class="board"><jv-board></jv-board></tr>

      <tr><td class="player-info2">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player1</td>
              </tr>
              <tr>
                <td class="">
                  <span *ngFor="let piece of piecesTakenByWhite" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span>
                  <span *ngIf="winnerByPoints == 'White'">
                    + {{ pointsDiffrence }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [ngClass]="{ 'timerActive': activeColor === 'White', 'timer': activeColor === 'Black' }">
          {{ wihteTime | MilisecondeToMinutePipe }}
        </div>
      </td></tr>
    </tbody>
  </table>
</div>

