<div>
  <table>
    <tbody>
      <tr><td class="player-info">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player {{opisatePlayerColor}}</td>
              </tr>
              <tr>
                <td class="">
                 <span *ngIf="playeIsWhite"> <span  *ngFor="let piece of piecesTakenByBlack" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span></span>

                  <span *ngIf="!playeIsWhite"><span *ngFor="let piece of piecesTakenByWhite" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span></span>
                  <span *ngIf="winnerByPoints === opisatePlayerColor.toString()">
                    + {{ pointsDiffrence }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [ngClass]="{ 'timerActive': activeColor === opisatePlayerColor.toString() , 'timer': activeColor === playerColor.toString() }">
          <div *ngIf="playeIsWhite">
            {{ blackTime | MilisecondeToMinutePipe }}
          </div>
          <div *ngIf="!playeIsWhite">
            {{ wihteTime | MilisecondeToMinutePipe }}
          </div>
        </div>
      </td></tr>

      <tr class="board"><jv-online-board></jv-online-board></tr>

      <tr><td class="player-info2">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player {{ playerColor}}</td>
              </tr>
              <tr>
                <td class="">
                  <span *ngIf=" !playeIsWhite"> <span  *ngFor="let piece of piecesTakenByBlack" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span></span>

                  <span *ngIf=" playeIsWhite"><span *ngFor="let piece of piecesTakenByWhite" [ngSwitch]="piece.toString()">
                    <ng-container *ngSwitchCase="'Pawn'">
                      ♙
                    </ng-container>
                    <ng-container *ngSwitchCase="'Queen'">
                      ♕
                    </ng-container>
                    <ng-container *ngSwitchCase="'Bishop'">
                      ♗
                    </ng-container>
                    <ng-container *ngSwitchCase="'Knight'">
                      ♘
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rook'">
                      ♖
                    </ng-container>
                  </span></span>
                  <span *ngIf="winnerByPoints === playerColor.toString()">
                    + {{ pointsDiffrence }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [ngClass]="{ 'timerActive': activeColor === playerColor.toString() , 'timer': activeColor === opisatePlayerColor.toString() }">
          <div *ngIf="!playeIsWhite">
            {{ blackTime | MilisecondeToMinutePipe }}
          </div>
          <div *ngIf="playeIsWhite">
            {{ wihteTime | MilisecondeToMinutePipe }}
          </div>
        </div>
      </td></tr>
    </tbody>
  </table>
</div>

