<div>
  <table>
    <tbody>
      <tr><td class="player-info">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player1</td>
              </tr>
              <tr>
                <td class="">♔♕♗♘♙♖ +4</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="timer">
          10:00
        </div>
      </td></tr>

      <tr class="board"><jv-board></jv-board></tr>

      <tr><td class="player-info2">
        <div>
          <table>
            <tbody>
              <tr>
                <td rowspan="2"><img src="../../../../../../assets/profile/profile.png" alt="" class="play-online-icon"></td>
                <td class="">player1</td>
              </tr>
              <tr>
                <td class="">♔♕♗♘♙♖ +4</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="timer">
          10:00
        </div>
      </td></tr>
    </tbody>
  </table>
</div>

