<span class="title">Blogs</span>
<div class="box">
  <div class="container">

    <div class="post" [routerLink]="['/blog/firadi/9']">
      <img src="../../../../../../assets/post-image/image.png" class="image">
      <p class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      <span class="data">firadi | 05/02-2024 | 5 comment | 60 like</span><br>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium, iste, sed nulla sapiente omnis cum dignissimos eveniet magnam obcaecati distinctio ullam alias, ducimus necessitatibus consequuntur nisi eum similique quas?
      </p>
    </div>
    <div class="post" [routerLink]="['/blog/firadi/9']">
      <img src="../../../../../../assets/post-image/image.png" class="image">
      <p class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      <span class="data">firadi | 05/02-2024 | 5 comment | 60 like</span><br>
      <p class="text">
        Lorem ipsu, sed nulla sapiente omnis cum dignissimos eveniet magnam obcaecati distinctio ullam alias, ducimus necessitatibus consequuntur nisi eum similique quas?
      </p>
    </div>
    <div class="post" [routerLink]="['/blog/firadi/9']">
      <img src="../../../../../../assets/post-image/image.png" class="image">
      <p class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      <span class="data">firadi | 05/02-2024 | 5 comment | 60 like</span><br>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium, iste, sed nulla sapiente omnis cum dignissimos eveniet magnam obcaecati distinctio ullam alias, ducimus necessitatibus consequuntur nisi eum similique quas?
      </p>
    </div>
    <div class="post" [routerLink]="['/blog/firadi/9']">
      <img src="../../../../../../assets/post-image/image.png" class="image">
      <p class="title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, cumque praesentium. Ipsum blanditiis assumenda voluptatum maiores illum numquam rerum unde placeat! Vel incidunt repellat, sunt eveniet nihil maxime totam commodi.</p>
      <span class="data">firadi | 05/02-2024 | 5 comment | 60 like</span><br>
      <p class="text">
        Lorem ipsu, sed nulla sapiente omnis cum dignissimos eveniet magnam obcaecati distinctio ullam alias, ducimus necessitatibus consequuntur nisi eum similique quas?
      </p>
    </div>
  </div>
</div>
