<div class="container">
  <jv-sidebar class="app-sidebar"></jv-sidebar>
  <div class="main-content">
    <div class="container">
      <div class="main">

        <div class="box">
          <input type="text" placeholder="Post title" class="post-title-input">
          <div class="image">
            <table>
              <tbody>
                <tr>
                  <td class="tdimg">
                    <img src="../../../../../../assets/post-image/download.svg" alt="">
                  </td>
                  <td class="Upload">

                      <button>Upload</button>
                      <div>
                        <label for="">Credit/Caption:</label>
                        <textarea name="" id="" cols="10" rows="2"></textarea>
                      </div>
          
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="textarea">
            blog:
            <textarea name="text-editor" id="" ></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
