<div class="container">
  <jv-sidebar class="app-sidebar"></jv-sidebar>
  <div class="main-content">
    <div class="container">
      <div class="main">

        <div class="box">
          <input type="text" placeholder="Post title" class="post-title-input">
          <div class="image">
            <table>
              <tbody>
                <tr>
                  <td><img src="../../../../../../assets/post-image/download.svg" alt=""></td>
                  <td>
                    <tr>
                      <button>Upload</button>
                    </tr>
                    <tr>
                      <label for="">Credit/Caption:</label>
                      <textarea name="" id="" cols="3" rows="10"></textarea>
                    </tr>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button>Publish</button>
        </div>

      </div>
    </div>
  </div>
</div>
