<div class="box">
  <div class="top">
    <p class="title">Comments (5)</p>
    <div class="sort">
      Sort:
      <select name="" id="">
        <option value="">newest</option>
        <option value="">oldest</option>
        <option value="">Likes </option>
      </select>
    </div>
  </div>
  
  <div class="comments">
    <div class="comment">
      <div class="profile-image-container">
        <img src="../../../../../../../../assets/profile/profile.png" alt="">
      </div>
      <div class="username-and-comment-container">
        <p class="username">Firadi</p>
        <p class="comment-text">
          White didn't understand their opening.
          <br>
        ¯\_(ツ)_/¯
        </p>
        <div class="like">
          <span class="material-symbols-outlined">
            thumb_up
          </span>15
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="profile-image-container">
        <img src="../../../../../../../../assets/profile/profile.png" alt="">
      </div>
      <div class="username-and-comment-container">
        <p class="username">Firadi</p>
        <p class="comment-text">
          Nous vous invitons à vous inscrire en ligne via le lien my.um6p.ma en complétant les éléments demandés ou à nous contacter via l'adresse: admission@um6p.ma
        </p>
        <div class="like">
          <span class="material-symbols-outlined">
            thumb_up
          </span>15
        </div>
      </div>
    </div>
  </div>
  <div class="comment-input">
    <textarea name="" id="test" rows="5" placeholder="comment"></textarea>
    <button>Post</button>
  </div>
</div>

