<div class="container">
  <div class="top">
    <button class="close" (click)="onNoClick()">X &nbsp;</button>
    <h1>Les Noirs ont gagné</h1>
    <h3>par abondone</h3>
  </div>
  <div class="bottom">
    <table>
      <tbody>
        <tr><td colspan="2">
          <button class="btn1">new 10 min Match</button>
        </td></tr>
        <tr>
          <td><button class="btn2">revanch</button></td>
          <td><button class="btn3">page principal</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
