.main{
  min-width: 100% ;
}

.main .top-container{
  min-width: 100% ;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main .top-container div{
  padding: 10px;
  width: 50%;
  
  
  
}

.main .top-container .right-container{
  text-align: center;
  font-size: 34px;
  
}


.left-container{
  display: flex;
  justify-content: center;
}

.board-img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.sign-in,
.sign-up {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 90%;
  margin: 0 5%;
  font-weight: bold;
}

.sign-up{
  background-color: rgb(55,54,52);
}

.sign-up:hover{
  background-color: rgb(73,72,70);
}
.sign-in:hover {
  background-color: #45a049;
}

